/*========== team =======*/
.Academic {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border: 2px solid yellow;
}

.see {
    background-color: rgb(220, 163, 203);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
    gap: 15px;
}

.title {
    text-align: center;
    background-color: purple;
    height: 50px;
    padding: 10px 20px;
}

.sub {
    background-color: rgb(72, 83, 4);
    text-align: center;
    height: 40px;
    padding: 7px;
}

.sub:hover {
    border: 2px solid red;
}

/*========== achievement =======*/
.about_achievements {
    margin-top: 3rem;
}

.about_achievements-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.about_achievements-right>p {
    margin: 1.6rem 0 2.5rem;
}

.achievements_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.achievement_card {
    background: var(--color-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}

.achievement_card:hover {
    background: var(--color-bg2);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.achievement_icon {
    background: var(--color-danger);
    padding: 0.6rem;
    border-radius: 2rem;
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 3rem;
}

.achievement_card:nth-child(2) .achievement_icon {
    background: var(--color-success);
}

.achievement_card:nth-child(3) .achievement_icon {
    background: var(--color-primary);
}

.achievement-card p {
    margin-top: 1rem;
}

/*========== MEDIA QUERIES (TABLETS) =======*/
@media screen and (max-width: 1024px) {
    .about_achievements {
        margin-top: 2rem;
    }

    .about_achievements-container {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .about_achievements-left {
        width: 80%;
        margin: 0 auto;
    }

    .team {
        padding: 1rem;
    }
}

/*========== MEDIA QUERIES (phones) =======*/
@media screen and (max-width: 600px) {
    .achievements_cards {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .team {
        padding: 0;
    }

    .team p {
        margin-bottom: 1.5rem;
    }
}



/* Scrollbar design */



::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 6px; 
}
