h2 {
  color: rgb(225, 252, 22);
}

h3,
h4 {
  color: aqua;
  margin-left: 3rem;
}

.topic-list {
  display: grid;
  grid-gap: 15px;
  padding: 15px;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
}

.item {
  background-color: green;
  padding: 10px 15px;
  border-radius: 7px;
}

.item:hover {
  background-color: blue;
  color: yellow;
}

.wrapper {
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 5%;
  line-height: 1.5;
  /* max-width: 960px; */
  margin: 0 auto;
}

.wrap-box {
  display: flex;
  flex-wrap: wrap;
}

.wrap-box label {
  background: #721459;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 2ps 10px -2px rgba(0, 0, 0, 0.5);
  order: 1;
  display: block;
  padding: 5px 50px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 20px;
}

.wrap-box .content {
  display: none;
  padding: 30px;
  background: rgb(2, 31, 9);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.5);
  order: 99;
  flex-grow: 1;
  width: 100%;
}
p b{
  color:goldenrod;}
.wrap-box input[type="radio"] {
  display: none;
}

.wrap-box input[type="radio"]:checked+label {
  background: rgb(27, 3, 123);
}

.wrap-box input[type="radio"]:checked+label+.content {
  display: block;
}

.program {
  height: auto;
  width: auto;
  padding: 0 2rem;
  border: 2px solid purple;
  font-family: 'Courier New', Courier, monospace;
}

.word {
  color: rgb(66, 208, 27);
  font-weight: bold;
}

@media(max-width:600px) {

  .wrap-box .content,
  .wrap-box label {
    order: initial;
  }

  .wrap-box label {
    width: 100%;
    margin-right: 0;
    margin-top: 5px;
  }
}
