.language_container{
    background: var(--color-bg1);
    padding: 2rem;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 2rem;
    height: 25rem;
    margin: 5rem auto;
    border-radius: 1rem;
  }
  h2 {
    color: rgb(225, 252, 22);
  }
  h3, h4 {
    color: aqua;
  }
  
