h2 {
  color: rgb(225, 252, 22);
}
h3, h4 {
  color: aqua;
}
.topic-list {
    display: grid;
    grid-gap: 15px;
    padding: 15px;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
}

.item {
    background-color: green;
    padding: 10px 15px;
    border-radius: 7px;
}
.item:hover {
    background-color: blue;
    color:yellow;
}




/* Scrollbar design */



::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 6px; 
}