.mcq_container {
    background: var(--color-bg1);
    padding: 2rem;
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
    /* height: 25rem; */
    margin: 5rem auto;
    border-radius: 1rem;
}

h2 {
    color: rgb(225, 252, 22);
}

h3,
h4 {
    color: aqua;
}

.team-image {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 30px;
    height: auto;
    color: wheat;
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
}

.item:hover {
    background: rgb(45, 16, 161);
}

.item {
    background-color: green;
    text-align: center;
    padding-top: 30px;
    border-radius: 7px;
}
