@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

.ycontainer {
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

.ycontainer .main-video-container {
    flex: 1 1 800px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    background-color: #fff;
    padding: 15px;
}

.ycontainer .main-video-container .main-video {
    margin-bottom: 7px;
    border-radius: 5px;
    width: 100%;
}

.ycontainer .main-video-container .main-vid-title {
    font-size: 20px;
    color: #444;
}

.ycontainer .video-list-container {
    flex: 1 1 350px;
    height: 485px;
    overflow-y: scroll;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    background-color: #fff;
    padding: 15px;
}

.ycontainer .video-list-container::-webkit-scrollbar {
    width: 10px;
}

.ycontainer .video-list-container::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 5px;
}

.ycontainer .video-list-container::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 5px;
}

.ycontainer .video-list-container .list {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color: #eee;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

.ycontainer .video-list-container .list:last-child {
    margin-bottom: 0;
}

.ycontainer .video-list-container .list.active {
    background-color: #444;
}

.ycontainer .video-list-container .list.active .list-title {
    color: #fff;
}

.ycontainer .video-list-container .list .list-video {
    width: 100px;
    border-radius: 5px;
}

.ycontainer .video-list-container .list .list-title {
    font-size: 17px;
    color: #444;
}

.title {
    height: 50px;
    background-color: #fff;
    text-align: center;
    color: rgb(26, 5, 167);
    padding: 5px;
    font-family: cursive;
}

.wrapper {
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 5%;
    line-height: 1.5;
    /* max-width: 960px; */
    margin: 0 auto;
}

.wrap-box {
    display: flex;
    flex-wrap: wrap;
}

.wrap-box label {
    background: #721459;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2ps 10px -2px rgba(0, 0, 0, 0.5);
    order: 1;
    display: block;
    padding: 5px 50px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 20px;
}

.wrap-box .content {
    display: none;
    padding: 30px;
    background: rgb(2, 31, 9);
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.5);
    order: 99;
    flex-grow: 1;
    width: 100%;
}

.wrap-box input[type="radio"] {
    display: none;
}

.wrap-box input[type="radio"]:checked+label {
    background: rgb(27, 3, 123);
}

.wrap-box input[type="radio"]:checked+label+.content {
    display: block;
}

.red {
    color: rgb(71, 242, 24);
    font-weight: bold;
}

@media(max-width:600px) {

    .wrap-box .content,
    .wrap-box label {
        order: initial;
    }

    .wrap-box label {
        width: 100%;
        margin-right: 0;
        margin-top: 5%;
    }

    .title {
        margin-top: 1rem;
    }

    .wrapper {
        min-height: 100vh;
        box-sizing: border-box;
        padding-top: 5%;
        line-height: 1.5;
        /* max-width: 960px; */
        margin: 8% auto;
    }
}

.youtube {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    /* grid-template-rows: repeat(auto-fit, 350px); */
    gap: 65px 20px;
    justify-content: center;
}

.video_list {
    height: 200px;
    width: 300px;
}

@media (max-width:1200px) {

    .ycontainer {
        margin: 50px;
    }

}

@media (max-width:450px) {

    .ycontainer .main-video-container .main-vid-title {
        font-size: 15px;
        text-align: center;
    }

    .ycontainer .video-list-container .list {
        flex-flow: column;
        gap: 10px;
    }

    .ycontainer .video-list-container .list .list-video {
        width: 100%;
    }

    .ycontainer .video-list-container .list .list-title {
        font-size: 15px;
        text-align: center;
    }

}